.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9e9999;
  height: 60px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #0088cc;
}
